a :link{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
    width: 150px;
}
#head{
    padding-top: 0.1px;
    margin: 15px;
    text-align: center;
    height: 140px;
}
#head a{
    margin-left: 0px;
     color: black   ;
}
body{
    background-image: url(../images/web_hatterkep.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#egesz{
    background-color: rgb(144, 128, 236);
    
    width: 100%;
    margin: 0;
    padding: 0;
}

#tartalom{
    height: 500px;
    background-color: whitesmoke;
    height: 80%;
}
#footer{
    background-color: brown;
    position: absolute;
    width: 98.9%;
    height: 5%;
}
#head li {
    /* background-color: rgb(30, 245, 155); */
    /*background-color: rgb(27, 81, 151);*/
    background-color: white;
    color: black;
    
    box-shadow: 0 3px 6px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    padding: 5px;
    margin:3px;
}
div {
    display: block;
}
li {
    list-style: none;
    margin-right: 0px;
    text-align: center;
}
#kepoldalra{
    float: left;
    width: 20px;
    height: 20px;
}
#kepek{
    width: 250px;
}
#kiemelt
{
    color: rgb(197, 75, 75);
}
#szft{
    padding: 5px;
    box-shadow: 1px 1px 10px gray; 
    border: 1px black solid;
}
#item1 { grid-area: jobb; }
#item2 { grid-area: bal; }
#rendezes{
    display: grid;
    grid-template-areas:'jobb bal';
    
   padding-right: 10px;
}
@media only screen and (min-width: 400px)
{
    #kepek{
        width: 30%;
    }
}

@media only screen and (min-width: 855px)
{
    .fejlec {
        width: 30%;
        
    }
    ul{
        display:flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }
    
    
    #head{
        padding-top: 0.1px;
        margin: 5px;
        text-align: center;
        height: 15px;
        
    }

    #kepoldalra{
        float: left;
        width: 20px;
        height: 20px;
    }
    #kepek{
        width: 40%;
    }
    
}
@media only screen and (max-width: 600px)
{
    .fejlec{
        width: 100%;
    }
    #kepoldalra{
        float: left;
        width: 20px;
        height: 20px;
    }
    
    #rendezes{
        display: block;
        width: 80%;
    }
}

@media only screen and (max-width: 1500px) and (min-width:855px)
{
   
    #kepek{
        width: 94%;
    }
}
